<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>add</title>
</head>
<body>
<!-- views/posts/index.ejs -->
<div class="new">
    <h3>상품 > 추가</h3>
    <form class="checkValidation" action="/course/add" method="post">
        <p>no </p>
            <input type="text" name = 'no' placeholder="no : ">
        <p>courses </p>
        <input type="text" name = 'courses' placeholder="courses : ">
        <p></p>
        <input type="submit" value="add course">
    </form>
</div>
</body>
</html>
