<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>update</title>
</head>
<body>
<h1>유저 > 수정</h1>
<form class="checkValidation" action="/user/<%= goods.user_num %>/edit" method="post">
    <p>user_email <input type="text" name = 'user_email' > </p>
    <p>user_pw <input type="text" name = 'user_pw' > </p>
    <p>user_fn <input type="text" name = 'user_fn' > </p>
    <p>user_gn <input type="text" name = 'user_gn' > </p>
    <p>user_sex <input type="text" name = 'user_sex' > </p>
    <p>user_birth <input type="text" name = 'user_birth' > </p>
    <p>user_nation <input type="text" name = 'user_nation' > </p>
    <p>user_phone <input type="text" name = 'user_phone' > </p>
    <p>user_position <input type="text" name = 'user_position' > </p>
    <p>user_part <input type="text" name = 'user_part' > </p>
    <p>user_offid <input type="text" name = 'user_offid' > </p>
    <p>user_check <input type="text" name = 'user_check' > </p>


    <p> <input type="submit" value="update user"></p>


</form>
</body>
</html>
