<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>add</title>
</head>
<body>
<h1>상품 > 수정</h1>
<form class="checkValidation" action="/course/<%= goods.no %>/edit" method="post">
    <p>duration <input type="text" name = 'duration' > </p>
    <p>date <input type="text" name = 'date' > </p>
    <p>hours <input type="text" name = 'hours' > </p>
    <p>trainers <input type="text" name = 'trainers' > </p>
    <p>courses_managers <input type="text" name = 'courses_managers' > </p>
    <p>courses_facilitators <input type="text" name = 'courses_facilitators' > </p>
    <p> <input type="submit" value="update course"></p>


</form>
</body>
</html>
